<body>

    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form action="#">
                <h1>Sign in</h1>
                <div class="social-container">
                    <a href="#" class="social"><fa-icon [icon]="myGoogleIcon"></fa-icon></a>
                    <a href="#" class="social"><fa-icon [icon]="myFacebookIcon"></fa-icon></a>
                    <a href="#" class="social"><fa-icon [icon]="myLinkedInIcon"></fa-icon></a>
                </div>
                <span>or use your account</span>
                <input type="email" placeholder="Email" />
                <input type="password" placeholder="Password" />
                <a href="/forgetPassword">Forgot your password?</a>
                <button class="btnPrimary">Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>Hello, DH_Members!</h1>
                    <!-- <p>Enter your personal details and start journey with us</p> -->
				<!-- <button class="ghost" id="signUp">Sign Up</button> -->
			</div>
		</div>
	</div>
</div>
</body>